.Heading {
    padding: 0.5rem;
    border-bottom: 1px solid #ecf0f1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
}

.Heading-container {
    display: flex;
}

.favourite {
    margin: auto 5px;
    color: #7c828d;
}

.favourite-content {
    margin: auto 5px;
}

.pin {
    color: #7b68ee;
}

.favourite-content a:hover {
    color: #7b68ee;
    cursor: pointer;
}

.favourite-content a {
    color: black;
}