.Tag {
    width: 150px !important;
    height: 150px;
    background-color: white;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgb(179, 179, 179);
    z-index: 1;
    font-size: 12px;
    position: absolute;
    top: -100px;
    border-radius: 10px;
}

.Tag input{
    outline: none;
    border: none;
    padding: 10px 0;
}

.Tag p{
    color: #dce1e2;
}