.rightlistDropDownItem {
    background-color: white;
    border-radius: 10px;
    width: 230px;
    height: 460px;
    box-shadow: 0 0 10px rgb(179, 179, 179);
    position: absolute;
    left: 14%;
    top: 20%;
    font-size: 15px;
    z-index: 3;
}

.rightlistDropDownItem-content-top {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.rightlistDropDownItem-content-top p {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dce1e2;
    margin: 0 
}

.BsTrash {
    color: #ff80b9;
}

.rightlistDropDownItem-content-top p:hover {
    cursor: pointer;
    background-color: #dce1e2;
}

.rightlistDropDownItem-content-middle {
    padding: 10px 0;
    border-bottom: 1px solid #dce1e2;
}

.rightlistDropDownItem-content-middle p {
    border: none;
    padding: 5px;
    margin: 0
}

.rightlistDropDownItem-content-middle p:hover {
    cursor: pointer;
    background-color: #dce1e2;
}

.sprints {
    display: flex;
    justify-content: space-between;
}

.sprints:hover {
    cursor: pointer;
    background-color: #dce1e2;
}

.template {
    display: flex;
    justify-content: space-between;
}

.template:hover {
    cursor: pointer;
    background-color: #dce1e2;
}

.rightlistDropDownItem-content-bottom {
    padding: 10px 0;
}

.rightlistDropDownItem-content-bottom p {
    padding: 5px;
    margin: 0
}

.rightlistDropDownItem-content-bottom p:hover {
    background-color: #dce1e2;
    cursor: pointer;
}

button {
    border-radius: 10px;
    margin: 5px 0;
    background-color: #7b68ee;
    color: white;
    border: none;
    padding: 10px;
    outline: none;
}

.button {
    text-align: center;
}